.section__header {
  min-height: 75px;
  max-width: 1000px;
  width:100%; 
  margin:0 auto; 
     
}

.header__container {
  display: flex;
  flex-direction: row;
  margin: 15px 0 60px auto;
  width: 170px; 
}

@media screen and (max-width: 768px) {  
    .header__container{
    margin:15px 0 60px auto;    
  }
}

.header__userEmail {
  width: fit-content;
  margin-right: 20px;
}

.header__logoutBtn {
  border: 0;
  margin: 15px 20px 60px 0;
  background: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}

.header__logoutBtn:hover {
  color: #ffeba7;
}
